# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\Desktop\TestCode\C++\2020-08-26\leetcode03_Longest_Substring_Without_Repeating_Characters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
